<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>
    Jobs
    </title>
</head>
<body>
    <form action="/agg/update" method="post">{% csrf_token %}
    <input type="submit" value="Change Values"><a href="/agg/import">Import RSS Feeds</a>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <ul>
{% for job in jobs %}
    <li><b>SITE:</b>{{job.site}}, <b>ADDED:</b>{{job.date_added}}/{{job.published}} - 
    <b>APPLIED:</b><input type="checkbox" name="{{job.id}}_applied" {% if job.applied %}checked{% endif %}>
    <b>HIDE:</b><input type="checkbox" name="{{job.id}}_hide" {% if job.hide %}checked{% endif %}>
    <b>TITLE:</b><a href={{job.link}}>{{job.title}}</a><br>
    <b>BODY:</b>{{job.body|safe|escape}}</li>
{% endfor %}
    </ul>
    </form>
</body>
</html>
